body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Main.js */
.MainPage, .LoginPage{
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
}


.StartButton, .LoginButton{
  width: 120px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin: 10px;
}

.StartButton:active{
  background-color: white;
  color: black;
}


/* Login.js */
.loginInput{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginText{
  width: 200px;
  height: 20px;
}

.idText, .pwText{
  margin: 2px;
}

.loginButton{
  width: 208px;
  height: 25px;
  margin: 4px;
  background-color: black;
  color: white;
  border-width: 2px;
}

.loginButton:active{
  border-color: black;
  background-color: white;
  color: black;
}

.loginService{
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  margin-bottom: 20px;
}


/* Nav.js */
.navMenu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}
.navMenuImg{
  margin: 5px;
}

.createGame, .myPage{
  width: 70px;
  height: 70px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border : 4px double black;
  border-radius: 10px;
}
.createGame:active, .myPage:active{
  background-color: black;
  color: white;
  border-color: white;
}
.createGame{
  font-size: 13px;
}
.myPage{
  font-size: 13px;
}
.navMenuLine{
  margin: 0px;
  border: 2px solid black;
}

@media all and (max-width:499px){
  .navMenu{
    height: 70px;
  }
  .createGame, .myPage{
    width: 50px;
    height: 50px;
    font-size: 11px;
  }
  .navMenuImg{
    width: 60px;
    height: 60px;
  }
  .navMenuLine{
    border-width: 1px;
  }
}

/* Cont.js */
.contBox{
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px double black;
  border-radius: 10px;
}
.thumbnailName{
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
}
.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
  
}

.firstThum, .secondThum{
  width: 146px;
  height: 198px;
  border: 1px solid black;
}

.contStart{
  width: 120px;
  height: 35px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.contStart:active{
  background-color: white;
  color: black;
}
@media all and (max-width:480px){
  .contBox{
    width: 100%;
    height: 100%;
    margin: 10px 5px;
  }
  .firstThum, .secondThum{
    width: 170px;
    height: 200px;
  }
  .thumbnailName{
    font-size: 20px;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
  }
  .contStart{
    margin-bottom: 10px;
  }
}

/* Game.js */
.contWrap{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px,auto));
}
@media all and (max-width:480px) {
  .contWrap{
    display: flex;
    flex-wrap: wrap;
  }
}